*{
    background-color: rgba(255, 255, 255, 0.884);
}

.grid-pinterest-by{
    display: grid;
    grid-template-rows: repeat(2, 20%);
    margin-inline-start: 50%;
}

.logo-input{
    display: grid;
    grid-template-columns: repeat(2, 20%);
    align-items: center;
    

}

input{
    width: 300px;
    height: 50%;
    margin: auto;
    border-radius: 12px;
    background-color: transparent;    

}

.imagenes img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 20%)
}